{% extends 'index.html' %}

{% block content %}


<h1>Product List</h1>
<form action="/product/" method="GET">
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="Search">
</form>

<a href="?order=title" method="GET">Title</a>
<a href="?order=-title" method="GET">-Title</a>

{% for product in products%}
<div class="card" style="width: 18rem;">
    <img src="/media/{{ product.photo }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }} {{ product.rate }}</h5>
        <p class="card-text">{{ product.created_at }}</p>
        <a href="/product/{{ product.id }}" class="btn btn-primary">Перейти</a>
    </div>
</div>
{% endfor %}
<center>
    {% for page in pages %}
    <button type="button" class="btn btn-secondary">
        <a href="?page={{ page }}" method="GET">{{ page }}</a>
    </button>
    {% endfor %}
</center>


{% endblock %}
